output/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><title>MC DONALDS</title><meta name="description" content="MC DONALDS"/><meta name="keywords" content="MC DONALDS"/><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/><meta name="msapplication-TileColor" content="#ffffff"/><meta name="theme-color" content="#ffffff"/><meta name="format-detection" content="telephone=no"/><link rel="shortcut icon" type="image/x-icon" href="assets/dist/img/favicon/favicon.ico"/><link rel="stylesheet" href="./public/dist/css/style.css"/></head><body><div class="loading"></div><main id="main"><img class="main-bg" src="./public/dist/img/bg.jpg"/><section class="page page-1"><div class="page-bg"><img src="./public/dist/img/page-1.png"/><a class="button" href="#" data-go-step="2"><img src="./public/dist/img/page-1-button.png"/></a></div></section><section class="page page-2"><div class="page-bg"><img src="./public/dist/img/page-2.png"/><div class="card-box" id="js-container"><canvas class="canvas" id="js-canvas"></canvas><img class="card-img" src="./public/dist/img/odul-1.png" style="visibility: hidden"/><img class="canvas-bg" src="./public/dist/img/card.png"/></div></div></section><section class="page page-3"><div class="page-bg"><img src="./public/dist/img/page-3.png"/><img class="gift-img" src="./public/dist/img/odul-1.png"/><a class="button" href="#"><img src="./public/dist/img/page-3-button.png"/></a></div></section></main><script type="text/javascript" src="./public/dist/js/bundle.js"></script><script type="text/javascript" src="./public/dist/js/script.js"></script><script type="text/javascript" src="./public/dist/js/game.js"></script></body></html>

views/index.pug
extends layout/layout

block content
	section.page.page-1
		.page-bg
			img(src=prefix+"/img/page-1.png")
			a.button(href="#" data-go-step="2")
				img(src=prefix + "/img/page-1-button.png")

	section.page.page-2
		.page-bg
			img(src=prefix + "/img/page-2.png")
			.card-box#js-container
				canvas.canvas(id="js-canvas")
				img.card-img(src=prefix + "/img/odul-1.png" style="visibility: hidden")
				img.canvas-bg(src=prefix + "/img/card.png")

	section.page.page-3
		.page-bg
			img(src=prefix + "/img/page-3.png")
			img.gift-img(src=prefix + "/img/odul-1.png")
			a.button(href="#")
				img(src=prefix + "/img/page-3-button.png")

block scripts
	script(type="text/javascript", src=prefix + "/js/game.js")
